main {
    position: fixed;
    top: 0;
    left: 0;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;


    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #30ed0a;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 500px;
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
    }
}

